activation: tanh
adam_betas:
- 0.9
- 0.999
adam_eps: 1.0e-08
architecture:
- 2
- 140
- 140
- 140
- 2
batch_size: 512
bins: 5
cuda: true
epochs: 10000
eval_only: false
lbfgs_history_size: 10
lbfgs_line_search: strong_wolfe
lbfgs_lr: 0.1
lbfgs_max_iter: 5
lbfgs_tolerance_change: 0.0
lbfgs_tolerance_grad: 0.0
lr: 0.0001
n_boundary_eval: 25
n_boundary_train: 100
n_initial_eval: 25
n_initial_train: 100
n_residual_eval: 5000
n_residual_train: 20000
n_samples_ncc: 5000
name: 3_layers
ncc_eval_every: 4000
optimizer_switch_at: 0.7
print_every: 100
problem: schrodinger
problem2:
  loss_weights:
    bc: 1.0
    ic: 1.0
    residual: 1.0
  spatial_dim: 1
  spatial_domain:
  - - 0.0
    - 1.0
  temporal_domain:
  - 0.0
  - 1.0
resume_from: null
save_every: 3000
schrodinger:
  loss_weights:
    bc: 1.0
    ic: 1.0
    residual: 1.0
  spatial_dim: 1
  spatial_domain:
  - - -5.0
    - 5.0
  temporal_domain:
  - 0.0
  - 1.5707963267948966
seed: 42
