activation: tanh
adam_betas:
- 0.9
- 0.999
adam_eps: 1.0e-08
architecture:
- 3
- 12
- 12
- 12
- 1
batch_size: 512
bins: 5
burgers1d:
  loss_weights:
    bc: 1.0
    ic: 1.0
    residual: 1.0
  nu: 0.01
  output_dim: 1
  spatial_dim: 1
  spatial_domain:
  - - -1.0
    - 1.0
  temporal_domain:
  - 0.0
  - 1.0
burgers2d:
  loss_weights:
    bc: 1.0
    ic: 1.0
    residual: 1.0
  nu: 0.1
  output_dim: 1
  spatial_dim: 2
  spatial_domain:
  - - 0.0
    - 1.0
  - - 0.0
    - 1.0
  temporal_domain:
  - 0.0
  - 2.0
cuda: true
epochs: 3
eval_every: 2
eval_only: false
inner_metrics_eval_every: 2
lbfgs_history_size: 20
lbfgs_line_search: strong_wolfe
lbfgs_lr: 1.0
lbfgs_max_iter: 20
lbfgs_tolerance_change: 0.0
lbfgs_tolerance_grad: 0.0
lr: 0.0001
n_bin_visualize_ncc: 100
n_freq_grid: 128
sampling:
  sample_volume_ratio: 35      # Target: S^(1/d) / V^(1/d) = 35
  initial_train_ratio: 0.005   # 0.5% of residual_train
  boundary_train_ratio: 0.005  # 0.5% of residual_train
  eval_train_ratio: 0.25       # eval = 25% of train (all types)
  ncc_train_ratio: 0.25        # ncc = 25% of residual_train
name: 3lyr_30k_Wn_flat
optimizer_switch_at: 0.9
print_every: 1
problem: burgers2d
problem2:
  loss_weights:
    bc: 1.0
    ic: 1.0
    residual: 1.0
  output_dim: 2
  spatial_dim: 1
  spatial_domain:
  - - 0.0
    - 1.0
  temporal_domain:
  - 0.0
  - 1.0
resume_from: null
save_every: 2
schrodinger:
  loss_weights:
    bc: 1.0
    ic: 1.0
    residual: 1.0
  output_dim: 2
  spatial_dim: 1
  spatial_domain:
  - - -5.0
    - 5.0
  temporal_domain:
  - 0.0
  - 1.5707963267948966
seed: 42
wave1d:
  loss_weights:
    bc: 1.0
    ic: 1.0
    residual: 1.0
  output_dim: 1
  spatial_dim: 1
  spatial_domain:
  - - -5.0
    - 5.0
  temporal_domain:
  - 0.0
  - 6.283185307179586
